
body {
    background: bisque;
    color: black;
}

a {
    text-decoration: none;
    color: brown;
}

a:hover {
    text-decoration: underline;
    color: darkblue;
}

img {
    max-width: 100%;
}

#navbar {
    background-color: black;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    z-index: 100;
}

#navbar li {
    float: left;
}

#navbar li a {
    display: inline-block;
    padding: 10px 5px;
    text-decoration: none;
    font-size: 1em;
    color: aliceblue;
    text-align: center;
    
}

#navbar li a:hover {
    background-color: white;
    color:black;
}

.myicon {
    color: aliceblue;
    font-size: 1.5em;
    padding: 10px;
    display: none;
}
