
body {
    background: bisque;
    color: black;
}

a {
    text-decoration: none;
    color: brown;
}

a:hover {
    text-decoration: underline;
    color: darkblue;
}

img {
    max-width: 100%;
}

#navbar {
    background-color: black;
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    z-index: 100;
    overflow: hidden;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: black;
}

#navbar li {
    float: left;
}

#navbar li a {
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    font-size: 1em;
    color: aliceblue;
    text-align: center;
    
}

#navbar li a:hover {
    background-color: white;
    color:black;
}

.myicon {
    color: aliceblue;
    font-size: 1.5em;
    padding: 10px;
    display: none;
}

#wrapper {
    max-width: 1180px; 
    position: relative;
    top: 60px;
    margin: 0 auto;
}

#wrapper header {
    padding: 10px 20px;
    background-color: azure;
    border-radius: 1em;
}


#first {
    float: left;
    padding: 5%;
    width: 40%;
}

#second {
    float: left;
    padding: 5%;
    width: 40%;
}

#third {
    float: left;
    padding: 5%;
    width: 90%;
}

#wrapper footer {
    clear: both;
    border: 1px solid black;
    width: 100%;
    background-color: darkgrey;
    text-align: center;
}

@media screen and (max-width: 820px) {
    #wrapper {
        padding: 0;
        max-width: 100%;
    }
}

