body {
    background: #eee;
    color: #333;
}

a {
    text-decoration: none;
    color: dodgerblue;
}

a:hover {
    text-decoration: underline;
    color: darkblue;
}

img {
    max-width: 100%;
}

